In [1]:
print('hello')

hello

<h1>Importing pandas</h1>

In [8]:
import pandas as pd

In [5]:
pd.read_csv('all_champions_trophy_matches_results.csv')

,Team1,Team2,Toss,Match days,Winner,Player of the Match,Margin,Ground,Match Date,ODI Int Match,Team1 Avg Batting Ranking,Team2 Avg Batting Ranking,Team1 Avg Bowling Ranking,Team2 Avg Bowling Ranking,Team1 Total CTs participated,Team1 Total CTs won,Team2 Total CTs participated,Team2 Total CTs won,Team1 W/L ratio over Team2
0,South Africa,West Indies,"South Africa, elected to field first",daynight,South Africa,Jacques Kallis,4 wickets,Dhaka,"Nov 1, 1998",ODI # 1364,66.58,63.42,81.50,84.92,0,0,0,0,1.000
1,India,West Indies,"India, elected to bat first",daynight,West Indies,Mervyn Dillon,6 wickets,Dhaka,"Oct 31, 1998",ODI # 1363,58.00,63.92,63.73,86.25,0,0,0,0,0.527
2,South Africa,Sri Lanka,"Sri Lanka, elected to field first",daynight,South Africa,Jacques Kallis,92 runs,Dhaka,"Oct 30, 1998",ODI # 1362,66.92,53.55,83.08,69.18,0,0,0,0,1.166
3,Pakistan,West Indies,"West Indies, elected to bat first",daynight,West Indies,Keith Arthurton,30 runs,Dhaka,"Oct 29, 1998",ODI # 1361,88.36,65.00,70.00,87.17,0,0,0,0,0.806
4,Australia,India,"Australia, elected to field first",daynight,India,Sachin Tendulkar,44 runs,Dhaka,"Oct 28, 1998",ODI # 1360,58.55,58.00,78.73,64.82,0,0,0,0,1.380
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
110,Australia,Bangladesh,"Bangladesh, elected to bat first",daynight,no result,NaN,NaN,The Oval,"Jun 5, 2017",ODI # 3879,76.13,72.67,78.73,76.47,7,2,4,0,18.000
111,India,Pakistan,"Pakistan, elected to field first",day,India,Yuvraj Singh,124 runs,Birmingham,"Jun 4, 2017",ODI # 3878,101.00,72.40,101.00,78.20,7,2,7,0,0.708
112,South Africa,Sri Lanka,"Sri Lanka, elected to field first",day,South Africa,Imran Tahir,96 runs,The Oval,"Jun 3, 2017",ODI # 3877,73.93,82.53,69.33,80.40,7,1,7,1,1.172
113,Australia,New Zealand,"New Zealand, elected to bat first",day,no result,NaN,NaN,Birmingham,"Jun 2, 2017",ODI # 3876,76.33,71.40,74.13,78.60,7,2,7,1,2.307
114,England,Bangladesh,"England, elected to field first",day,England,Joe Root,8 wickets,The Oval,"Jun 1, 2017",ODI # 3875,65.20,72.53,69.47,76.27,7,0,4,0,3.750

In [14]:
pd.read_csv('demo_mlexpec.tsv',sep='\t')

,"unit,sex,age,geo\time",2021,2020,2019,2018,2017,2016,2015,2014,2013,...,1969,1968,1967,1966,1965,1964,1963,1962,1961,1960
0,"YR,F,Y1,AL",:,79.4,80.4,80.2,79.7,79.8,79.2,79.8,79.6,...,:,:,:,:,:,:,:,:,:,:
1,"YR,F,Y1,AM",:,:,79.1,79.2,78.5,78.0,77.9,:,:,...,:,:,:,:,:,:,:,:,:,:
2,"YR,F,Y1,AT",:,82.9,83.5,83.3,83.2,83.4,83.0,83.3,83.0,...,:,:,:,:,:,:,:,:,:,:
3,"YR,F,Y1,AZ",:,:,78.6,78.1,77.7,:,77.5,77.0,76.9,...,:,:,:,:,:,:,:,:,:,:
4,"YR,F,Y1,BE",:,82.3,83.6,83.2,83.2,83.2,82.6,83.1,82.5,...,74.4,74.3,74.7,74.4,74.3,74.6,73.9,74.0,74.5,73.7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14443,"YR,T,Y_LT1,SM",:,:,:,:,:,:,:,:,:,...,:,:,:,:,:,:,:,:,:,:
14444,"YR,T,Y_LT1,TR",:,:,79.1,78.9,78.5,78.1,78.2,78.1,78.2,...,:,:,:,:,:,:,:,:,:,:
14445,"YR,T,Y_LT1,UA",:,:,73.4,73.2,73.3,72.9,72.5,71.8,:,...,:,:,:,:,:,:,:,:,:,:
14446,"YR,T,Y_LT1,UK",:,:,:,81.3,81.3,81.2,81.0,81.4,81.1,...,:,:,:,:,:,:,:,:,:,:
14447,"YR,T,Y_LT1,XK",:,:,:,:,:,78.6 p,:,:,:,...,:,:,:,:,:,:,:,:,:,:

<h1>Open csv file from url</h1>

In [12]:
import requests
from io import StringIO
url='https://github.com/aishwaryamate/Datasets/blob/main/aug_train.csv'
 headers={'','',''}
req=requests.get(url,headers=headers)
data = stringIO.get(req.text)
pd.read_csv(data)

NameError: name 'headers' is not defined

<h1>here are some important function that will use in future machine learning prolems</h1>

In [15]:
# skiprows----> for desire rows
# nrows------> for limited number of rows
# encoding parameter   encoding='latin -1'
# skip bad lines ---> error_bad_lines=False
# dtype parameter --> use for save memory
# parse_dates---> use for handling dates
# convertors---> convertors={'':  }
# na_values=['']--> for convert irrelevant values to nan
# loading a huge dataset in chunks ---> chunksize=5000
# index_col for making column to index
# header=[1] ---> making row to columns name
# use_cols=['','','',] for desire column

<h1>Working with JSON</h1>

In [ ]:
pd.read_json('')

<h1>Working with SQL file</h1>

In [19]:
pip install mysql.connector

Collecting mysql.connectorNote: you may need to restart the kernel to use updated packages.

  Downloading mysql-connector-2.2.9.tar.gz (11.9 MB)
     ---------------------------------------- 0.0/11.9 MB ? eta -:--:--
     ---------------------------------------- 0.0/11.9 MB ? eta -:--:--
     ---------------------------------------- 0.0/11.9 MB ? eta -:--:--
     ---------------------------------------- 0.0/11.9 MB ? eta -:--:--
     ---------------------------------------- 0.0/11.9 MB ? eta -:--:--
     ---------------------------------------- 0.0/11.9 MB ? eta -:--:--
     ---------------------------------------- 0.0/11.9 MB ? eta -:--:--
     ---------------------------------------- 0.0/11.9 MB ? eta -:--:--
     ---------------------------------------- 0.0/11.9 MB ? eta -:--:--
     ---------------------------------------- 0.0/11.9 MB ? eta -:--:--
     ---------------------------------------- 0.0/11.9 MB ? eta -:--:--
      --------------------------------------- 0.3/11.9 MB ? eta -:--:--
      --------------------------------------- 0.3/11.9 MB ? eta -:--:--
      --------------------------------------- 0.3/11.9 MB ? eta -:--:--
      --------------------------------------- 0.3/11.9 MB ? eta -:--:--
     - ------------------------------------- 0.5/11.9 MB 316.6 kB/s eta 0:00:36
     - ------------------------------------- 0.5/11.9 MB 316.6 kB/s eta 0:00:36
     - ------------------------------------- 0.5/11.9 MB 316.6 kB/s eta 0:00:36
     - ------------------------------------- 0.5/11.9 MB 316.6 kB/s eta 0:00:36
     -- ------------------------------------ 0.8/11.9 MB 310.8 kB/s eta 0:00:36
     -- ------------------------------------ 0.8/11.9 MB 310.8 kB/s eta 0:00:36
     -- ------------------------------------ 0.8/11.9 MB 310.8 kB/s eta 0:00:36
     -- ------------------------------------ 0.8/11.9 MB 310.8 kB/s eta 0:00:36
     --- ----------------------------------- 1.0/11.9 MB 296.1 kB/s eta 0:00:37
     --- ----------------------------------- 1.0/11.9 MB 296.1 kB/s eta 0:00:37
     ---- ---------------------------------- 1.3/11.9 MB 353.2 kB/s eta 0:00:30
     ---- ---------------------------------- 1.3/11.9 MB 353.2 kB/s eta 0:00:30
     ----- --------------------------------- 1.6/11.9 MB 377.8 kB/s eta 0:00:28
     ----- --------------------------------- 1.6/11.9 MB 377.8 kB/s eta 0:00:28
     ----- --------------------------------- 1.6/11.9 MB 377.8 kB/s eta 0:00:28
     ----- --------------------------------- 1.6/11.9 MB 377.8 kB/s eta 0:00:28
     ----- --------------------------------- 1.6/11.9 MB 377.8 kB/s eta 0:00:28
     ----- --------------------------------- 1.6/11.9 MB 377.8 kB/s eta 0:00:28
     ------ -------------------------------- 1.8/11.9 MB 331.1 kB/s eta 0:00:31
     ------ -------------------------------- 1.8/11.9 MB 331.1 kB/s eta 0:00:31
     ------ -------------------------------- 1.8/11.9 MB 331.1 kB/s eta 0:00:31
     ------ -------------------------------- 1.8/11.9 MB 331.1 kB/s eta 0:00:31
     ------ -------------------------------- 1.8/11.9 MB 331.1 kB/s eta 0:00:31
     ------ -------------------------------- 1.8/11.9 MB 331.1 kB/s eta 0:00:31
     ------ -------------------------------- 2.1/11.9 MB 302.7 kB/s eta 0:00:33
     ------ -------------------------------- 2.1/11.9 MB 302.7 kB/s eta 0:00:33
     ------ -------------------------------- 2.1/11.9 MB 302.7 kB/s eta 0:00:33
     ------- ------------------------------- 2.4/11.9 MB 312.9 kB/s eta 0:00:31
     ------- ------------------------------- 2.4/11.9 MB 312.9 kB/s eta 0:00:31
     -------- ------------------------------ 2.6/11.9 MB 329.7 kB/s eta 0:00:28
     -------- ------------------------------ 2.6/11.9 MB 329.7 kB/s eta 0:00:28
     -------- ------------------------------ 2.6/11.9 MB 329.7 kB/s eta 0:00:28
     -------- ------------------------------ 2.6/11.9 MB 329.7 kB/s eta 0:00:28
     --------- ----------------------------- 2.9/11.9 MB 332.2 kB/s eta 0:00:27
     --------- ----------------------------- 2.9/11.9 MB 332.2 kB/s eta 0:00:27
     --------- ----------------------------- 2.9/11.9 MB 332.2 kB/s eta 0:00:27
     ---------- ---------------------------- 3.1/11.9 MB 334.9 kB/s eta 0:00:26
     ---------- ---------------------------- 3.1/11.9 MB 334.9 kB/s eta 0:00:26
     ---------- ---------------------------- 3.1/11.9 MB 334.9 kB/s eta 0:00:26
     ---------- ---------------------------- 3.1/11.9 MB 334.9 kB/s eta 0:00:26
     ---------- ---------------------------- 3.1/11.9 MB 334.9 kB/s eta 0:00:26
     ---------- ---------------------------- 3.1/11.9 MB 334.9 kB/s eta 0:00:26
     ---------- ---------------------------- 3.1/11.9 MB 334.9 kB/s eta 0:00:26
     ----------- --------------------------- 3.4/11.9 MB 311.2 kB/s eta 0:00:28
     ------------ -------------------------- 3.7/11.9 MB 332.5 kB/s eta 0:00:25
     ------------ -------------------------- 3.7/11.9 MB 332.5 kB/s eta 0:00:25
     ------------ -------------------------- 3.7/11.9 MB 332.5 kB/s eta 0:00:25
     ------------ -------------------------- 3.7/11.9 MB 332.5 kB/s eta 0:00:25
     ------------ -------------------------- 3.9/11.9 MB 330.8 kB/s eta 0:00:24
     ------------ -------------------------- 3.9/11.9 MB 330.8 kB/s eta 0:00:24
     ------------- ------------------------- 4.2/11.9 MB 339.2 kB/s eta 0:00:23
     ------------- ------------------------- 4.2/11.9 MB 339.2 kB/s eta 0:00:23
     -------------- ------------------------ 4.5/11.9 MB 349.1 kB/s eta 0:00:22
     -------------- ------------------------ 4.5/11.9 MB 349.1 kB/s eta 0:00:22
     -------------- ------------------------ 4.5/11.9 MB 349.1 kB/s eta 0:00:22
     --------------- ----------------------- 4.7/11.9 MB 355.2 kB/s eta 0:00:21
     --------------- ----------------------- 4.7/11.9 MB 355.2 kB/s eta 0:00:21
     --------------- ----------------------- 4.7/11.9 MB 355.2 kB/s eta 0:00:21
     --------------- ----------------------- 4.7/11.9 MB 355.2 kB/s eta 0:00:21
     --------------- ----------------------- 4.7/11.9 MB 355.2 kB/s eta 0:00:21
     --------------- ----------------------- 4.7/11.9 MB 355.2 kB/s eta 0:00:21
     --------------- ----------------------- 4.7/11.9 MB 355.2 kB/s eta 0:00:21
     --------------- ----------------------- 4.7/11.9 MB 355.2 kB/s eta 0:00:21
     ---------------- ---------------------- 5.0/11.9 MB 330.0 kB/s eta 0:00:21
     ---------------- ---------------------- 5.0/11.9 MB 330.0 kB/s eta 0:00:21
     ---------------- ---------------------- 5.0/11.9 MB 330.0 kB/s eta 0:00:21
     ---------------- ---------------------- 5.0/11.9 MB 330.0 kB/s eta 0:00:21
     ----------------- --------------------- 5.2/11.9 MB 328.6 kB/s eta 0:00:21
     ----------------- --------------------- 5.2/11.9 MB 328.6 kB/s eta 0:00:21
     ----------------- --------------------- 5.2/11.9 MB 328.6 kB/s eta 0:00:21
     ------------------ -------------------- 5.5/11.9 MB 332.5 kB/s eta 0:00:20
     ------------------ -------------------- 5.5/11.9 MB 332.5 kB/s eta 0:00:20
     ------------------ -------------------- 5.5/11.9 MB 332.5 kB/s eta 0:00:20
     ------------------ -------------------- 5.5/11.9 MB 332.5 kB/s eta 0:00:20
     ------------------ -------------------- 5.8/11.9 MB 334.9 kB/s eta 0:00:19
     ------------------ -------------------- 5.8/11.9 MB 334.9 kB/s eta 0:00:19
     ------------------ -------------------- 5.8/11.9 MB 334.9 kB/s eta 0:00:19
     ------------------- ------------------- 6.0/11.9 MB 334.6 kB/s eta 0:00:18
     ------------------- ------------------- 6.0/11.9 MB 334.6 kB/s eta 0:00:18
     -------------------- ------------------ 6.3/11.9 MB 342.4 kB/s eta 0:00:17
     -------------------- ------------------ 6.3/11.9 MB 342.4 kB/s eta 0:00:17
     --------------------- ----------------- 6.6/11.9 MB 351.4 kB/s eta 0:00:16
     --------------------- ----------------- 6.6/11.9 MB 351.4 kB/s eta 0:00:16
     ---------------------- ---------------- 6.8/11.9 MB 357.3 kB/s eta 0:00:15
     ---------------------- ---------------- 6.8/11.9 MB 357.3 kB/s eta 0:00:15
     ----------------------- --------------- 7.1/11.9 MB 364.1 kB/s eta 0:00:14
     ------------------------ -------------- 7.3/11.9 MB 372.5 kB/s eta 0:00:13
     ------------------------ -------------- 7.3/11.9 MB 372.5 kB/s eta 0:00:13
     ------------------------- ------------- 7.6/11.9 MB 377.3 kB/s eta 0:00:12
     ------------------------- ------------- 7.6/11.9 MB 377.3 kB/s eta 0:00:12
     ------------------------- ------------- 7.9/11.9 MB 384.6 kB/s eta 0:00:11
     ------------------------- ------------- 7.9/11.9 MB 384.6 kB/s eta 0:00:11
     -------------------------- ------------ 8.1/11.9 MB 388.1 kB/s eta 0:00:10
     --------------------------- ----------- 8.4/11.9 MB 394.9 kB/s eta 0:00:09
     ---------------------------- ---------- 8.7/11.9 MB 405.5 kB/s eta 0:00:08
     ------------------------------ -------- 9.2/11.9 MB 426.0 kB/s eta 0:00:07
     ------------------------------- ------- 9.4/11.9 MB 436.3 kB/s eta 0:00:06
     ------------------------------- ------- 9.7/11.9 MB 441.5 kB/s eta 0:00:05
     ------------------------------- ------- 9.7/11.9 MB 441.5 kB/s eta 0:00:05
     ------------------------------- ------- 9.7/11.9 MB 441.5 kB/s eta 0:00:05
     ------------------------------- ------ 10.0/11.9 MB 443.1 kB/s eta 0:00:05
     -------------------------------- ----- 10.2/11.9 MB 449.3 kB/s eta 0:00:04
     -------------------------------- ----- 10.2/11.9 MB 449.3 kB/s eta 0:00:04
     --------------------------------- ---- 10.5/11.9 MB 455.0 kB/s eta 0:00:04
     ---------------------------------- --- 10.7/11.9 MB 460.6 kB/s eta 0:00:03
     ---------------------------------- --- 10.7/11.9 MB 460.6 kB/s eta 0:00:03
     ----------------------------------- -- 11.0/11.9 MB 463.5 kB/s eta 0:00:02
     ------------------------------------ - 11.3/11.9 MB 467.9 kB/s eta 0:00:02
     ------------------------------------ - 11.3/11.9 MB 467.9 kB/s eta 0:00:02
     ------------------------------------ - 11.3/11.9 MB 467.9 kB/s eta 0:00:02
     ------------------------------------ - 11.5/11.9 MB 469.4 kB/s eta 0:00:01
     ------------------------------------ - 11.5/11.9 MB 469.4 kB/s eta 0:00:01
     -------------------------------------  11.8/11.9 MB 472.0 kB/s eta 0:00:01
     -------------------------------------- 11.9/11.9 MB 468.0 kB/s eta 0:00:00
  Preparing metadata (setup.py): started
  Preparing metadata (setup.py): finished with status 'done'
Building wheels for collected packages: mysql.connector
  Building wheel for mysql.connector (setup.py): started
  Building wheel for mysql.connector (setup.py): finished with status 'done'
  Created wheel for mysql.connector: filename=mysql_connector-2.2.9-cp312-cp312-win_amd64.whl size=247959 sha256=7cd8f0b19eb8755e9d4721e40b3e3d386bd2cc9aa8c821b2c56a9db251669800
  Stored in directory: c:\users\hamma\appdata\local\pip\cache\wheels\03\17\fa\d7604c72dd3dd6d3eb3d249abf36cc532c9a9b4354b8f1bc4f
Successfully built mysql.connector
Installing collected packages: mysql.connector
Successfully installed mysql.connector-2.2.9

In [33]:
import mysql.connector
con=mysql.connector.connect(host='localhost',user='root',password='(ABCDHammad123@)',database='blood_donation')

NotSupportedError: Authentication plugin 'caching_sha2_password' is not supported